<template>
  <section>
    <v-row justify="center">
      <h1>Register</h1>
    </v-row>
    <v-divider></v-divider>

    <v-row justify="center">
      <v-col cols="12" sm="10" md="6" lg="6">
        <v-card ref="form" class="px-md-5">
          <v-card-text>
            <v-text-field
              ref="name"
              v-model="user.name"
              label="Nama"
              required
            ></v-text-field>
            <v-text-field
              ref="email"
              v-model="user.email"
              label="Email"
              required
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              label="Password"
              @click:append="show = !show"
            ></v-text-field>
            <v-text-field
              v-model="user.confirmPassword"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              label="Konfirmasi Password"
              @click:append="show = !show"
            ></v-text-field>
            <v-checkbox
              v-model="user.acceptTerms"
              label="Saya setuju syarat dan ketentuan"
            ></v-checkbox>
          </v-card-text>
          <v-divider class="mt-12"></v-divider>
          <v-card-actions>
            <v-btn text> Cancel </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="userRegister"> Submit </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
      },
      show: false,
    }
  },
  methods: {
    async userRegister() {
      try {
        let response = await this.$axios.$post('/accounts/register', this.user)
        this.$notifier.showMessage({
          content: response.message,
          color: 'success',
        })
        this.$router.push('/')
      } catch (err) {
        this.$notifier.showMessage({
          content: err.response.data.message,
          color: 'error',
        })
      }
    },
  },
}
</script>
