<template>
  <section>
    <v-row v-if="allProducts.length == 0">
      <v-col v-for="(item, i) in 4" :key="i" cols="6" md="3">
        <v-sheet color="grey lighten-4" class="pa-3">
          <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        v-for="(card, index) in aStockOnly"
        :key="index"
        cols="6"
        md="3"
        sm="6"
      >
        <v-card :to="`/product/` + card.id" :ripple="false" hover>
          <v-img
            aspect-ratio="1"
            v-if="card.images"
            :src="card.images[0]"
            class="white--text align-end"
            height="auto"
          >
          </v-img>

          <v-carousel
            v-else
            :continuous="false"
            :show-arrows="true"
            hide-delimiter-background
            delimiter-icon="mdi-minus"
            height="auto"
          >
            <v-carousel-item
              v-for="(image, i) in card.images"
              :key="i"
              :src="image"
            >
            </v-carousel-item>
          </v-carousel>
          <v-card-title class="text-subtitle-1 font-weight-medium">{{
            card.name
          }}</v-card-title>

          <v-card-actions class="pa-4">
            Rp. {{ rubah(card.price) }}
            <v-spacer></v-spacer>
            <span class="grey--text text--lighten-2 caption mr-2">
              ({{ Math.round(card.rating * 100) / 100 }})
            </span>
            <v-rating
              v-model="card.rating"
              background-color="white"
              color="yellow accent-4"
              dense
              half-increments
              readonly
              size="12"
            ></v-rating>
          </v-card-actions>
          <!-- 
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn icon @click.prevent="heartAction(index)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>

            <v-btn
              icon
              @click.prevent="
                addToCart(
                  card.items
                    ? { ...card.items[0], caption: card.caption, index }
                    : { ...card, index }
                )
              "
            >
              <v-icon>mdi-cart</v-icon>
            </v-btn>

            <v-btn icon>
              <v-icon>mdi-share-variant</v-icon>
            </v-btn>
          </v-card-actions> -->
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <div class="text-center">
          <v-btn
            v-if="hasNextPage"
            @click="fetchData(nextPage)"
            :disabled="btnDisabled"
          >
            load more
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'

export default {
  data() {
    return {
      cards: [],
      nextPage: '',
      hasNextPage: false,
      btnDisabled: false,
    }
  },

  created() {
    this.$store.dispatch('product/getProducts')
  },
  methods: {
    ...mapMutations({
      addToCart: 'cart/add',
      removeFromCart: 'cart/remove',
    }),
    fetchData(nextPage) {
      this.btnDisabled = true
      axios
        .get(
          'https://www.instagram.com/graphql/query/?query_id=17888483320059182&id=8600759893&first=12&after=' +
            nextPage
        )
        .then((res) => {
          const list = res.data.data.user.edge_owner_to_timeline_media.edges
          this.nextPage =
            res.data.data.user.edge_owner_to_timeline_media.page_info.end_cursor

          Promise.all(
            list.map(async (item) => {
              item = item.node

              const shortcode = item.shortcode
              const url = `https://www.instagram.com/p/${shortcode}`

              if (item.__typename === 'GraphImage') {
                const single = {
                  id: shortcode,
                  src: item.display_url,
                  caption: item.edge_media_to_caption.edges[0].node.text,
                }
                return Promise.resolve(single)
              } else if (item.__typename === 'GraphSidecar') {
                const caption = item.edge_media_to_caption.edges[0].node.text

                const response = await axios.get(url)

                const data =
                  JSON.parse(
                    response.data.match(
                      /<script type="text\/javascript">window._sharedData = (.*);<\/script>/
                    )[1]
                  ) || {}
                const single = data.entry_data.PostPage[0].graphql.shortcode_media.edge_sidecar_to_children.edges.map(
                  (item) => ({
                    src: item.node.display_url,
                  })
                )
                const itemData = {
                  caption: caption,
                  id: shortcode,
                  items: single,
                }
                return Promise.resolve(itemData)
              }
            })
          ).then((result) => {
            this.cards.push(...result)
            this.hasNextPage =
              res.data.data.user.edge_owner_to_timeline_media.page_info.has_next_page
            this.btnDisabled = false
          })
        })
    },
    getProducts() {
      this.$axios.$get('/products/all').then((res) => {
        this.cards = res
      })
    },
    heartAction(index) {
      this.aStockOnly.splice(index, 1)
    },
    rubah(angka) {
      var reverse = angka.toString().split('').reverse().join(''),
        ribuan = reverse.match(/\d{1,3}/g)
      ribuan = ribuan.join('.').split('').reverse().join('')
      return ribuan
    },
  },
  computed: {
    allProducts() {
      return this.$store.getters['product/products']
    },
    selectedDishes() {
      return this.$store.getters['cart/items']
    },
    aStockOnly() {
      return this.allProducts.filter((i) => i.stock > 0)
    },
  },
}
</script>

<style scoped>
.v-card__text,
.v-card__title {
  word-break: normal;
}
</style>
