<template>
  <section>
    <v-row justify="center">
      <h1>Login</h1>
    </v-row>
    <v-divider></v-divider>

    <v-row justify="center">
      <v-col cols="12" sm="10" md="6" lg="6">
        <v-card ref="form" class="px-md-5">
          <v-card-text>
            <v-text-field
              ref="email"
              v-model="user.email"
              label="Email"
              required
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              label="Password"
              @click:append="show = !show"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mt-12"></v-divider>
          <v-card-actions>
            <v-btn text> Cancel </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="userLogin"> Submit </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: '',
        password: '',
      },
      show: false,
    }
  },
  methods: {
    async userLogin() {
      try {
        let response = await this.$auth.loginWith('local', { data: this.user })
        this.$notifier.showMessage({
          content: 'Halo, ' + response.data.name + '! Selamat datang kembali😊',
          color: 'success',
        })
      } catch (err) {
        console.log(err)

        this.$notifier.showMessage({
          content: err.response.data.message,
        })
      }
    },
  },
}
</script>
