<template>
  <v-navigation-drawer height="100%" app v-model="localDrawer" temporary>
    <v-list nav dense>
      <v-list-item-group active-class="pink--text text--lighten-2">
        <v-list-item to="/">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-title >Home</v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Account</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <template v-slot:append>
      <v-row v-if="!$auth.loggedIn" justify="center">
        <v-btn to="/auth/login" block color="#fedcd2">Login</v-btn>
        <v-btn to="/auth/register" block color="#55cbcd">Register</v-btn>
      </v-row>
      <div v-else>
        <v-btn block @click="$auth.logout()"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    drawer: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      localDrawer: this.drawer,
    }
  },
  watch: {
    drawer: function () {
      this.localDrawer = this.drawer
    },
    localDrawer: function () {
      this.$emit('input', this.localDrawer)
    },
  },
}
</script>

<style scoped>

</style>