<template>
  <div>
    <v-app-bar color="#f9c0c0" dark class="px-sm-6">
      <v-app-bar-nav-icon
        @click="$emit('nav-click')"
        v-if="$vuetify.breakpoint.xsOnly"
      ></v-app-bar-nav-icon>
      <v-toolbar-title @click="$router.push('/')" style="cursor: pointer"
        >Petitemauree</v-toolbar-title
      >
      <v-spacer></v-spacer>

      <v-badge
      class="mx-2"
        :value="numberOfItems"
        :content="numberOfItems"
        color="green"
        overlap
      >
        <v-btn small icon @click="cartDrawer = true">
          <v-icon>mdi-cart-outline</v-icon>
        </v-btn>
      </v-badge>

      <v-toolbar-items v-if="!$auth.loggedIn" class="hidden-xs-only">
        <v-btn text color="primary" to="/auth/login">Login </v-btn>
        <v-divider vertical></v-divider>
        <v-btn text to="/auth/register">Register </v-btn>
      </v-toolbar-items>

      <div v-else>
        <v-divider vertical class="mx-2" dark></v-divider>
        <v-menu bottom min-width="200px" rounded offset-y>
          <template v-slot:activator="{ on }">
            <v-btn small icon v-on="on">
              <v-avatar color="brown" size="36">
                <span class="white--text headline">{{
                  $auth.user.name.charAt(0)
                }}</span>
              </v-avatar>
            </v-btn>
          </template>
          <v-card>
            <v-list-item-content class="justify-center">
              <div class="mx-auto text-center">
                <v-avatar color="brown">
                  <span class="white--text headline">{{
                    $auth.user.name.charAt(0)
                  }}</span>
                </v-avatar>
                <h3>{{ $auth.user.name }}</h3>
                <p class="caption mt-1">{{ $auth.user.email }}</p>
                <v-divider class="my-3"></v-divider>
                <v-btn depressed rounded text> Edit Account </v-btn>
                <v-divider class="my-3"></v-divider>
                <v-btn depressed rounded text @click="$auth.logout()">
                  Logout
                </v-btn>
              </div>
            </v-list-item-content>
          </v-card>
        </v-menu>
      </div>
    </v-app-bar>

    <v-navigation-drawer
      v-if="cartDrawer"
      v-model="cartDrawer"
      absolute
      temporary
      right
      width="360px"
      style="max-width: 75%"
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="px-2 py-2"
            ><h2>Shopping Cart</h2>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-virtual-scroll :items="cartItems" :item-height="80" height="300">
        <template v-slot:default="{ item }">
          <v-list dense>
            <v-list-item>
              <v-list-item-avatar tile>
                <v-img :src="item.src"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ item.caption }}</v-list-item-title>

                <v-list-item-subtitle
                  >Qty: {{ item.quantity }}</v-list-item-subtitle
                >
              </v-list-item-content>

              <v-list-item-action>
                <v-btn icon @click="removeFromCart(item)">
                  <v-icon color="orange darken-4" small>
                    mdi-close-circle
                  </v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
        </template>
      </v-virtual-scroll>

      <v-divider></v-divider>
      <v-list-item class="mt-4">
        <v-btn block v-if="numberOfItems > 0"> Checkout </v-btn>
      </v-list-item>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  data() {
    return {
      cartDrawer: null,
      items: [],
    }
  },
  methods: {
    ...mapMutations({
      removeFromCart: 'cart/remove',
    }),
  },
  computed: {
    numberOfItems() {
      return this.$store.getters['cart/numberOfItems']
    },
    cartItems() {
      return this.$store.getters['cart/items']
    },
  },
}
</script>
