<template>
  <section>
    <v-row v-if="!finishLoading">
      <v-col cols="12" sm="6">
        <v-skeleton-loader type="image@2, actions"></v-skeleton-loader>
      </v-col>
      <v-col cols="12" sm="6">
        <v-skeleton-loader class="mx-6" type="article@2"></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col>
        <v-card max-width="444" class="mx-auto">
          <v-carousel
            @change="onChange"
            v-model="selectedModel"
            :continuous="false"
            :show-arrows="true"
            hide-delimiters
            height="auto"
          >
            <v-carousel-item
              eager
              v-for="(image, i) in loadedProduct.images"
              :key="i"
            >
              <v-img :src="image" height="100%" eager />
            </v-carousel-item>
          </v-carousel>
          <v-expand-transition>
            <v-card-text
              v-if="selectedModel >= loadedProductLength"
              class="px-1"
            >
              <v-slide-group v-model="model" center-active>
                <v-slide-item
                  v-for="(n, i) in variationImages"
                  :key="n"
                  v-slot="{ active }"
                >
                  <v-card class="mr-2" @click="thumbClick(i)">
                    <v-avatar size="56" tile style="cursor: pointer">
                      <v-img
                        :src="n"
                        :gradient="
                          active
                            ? `to bottom, rgba(249, 192, 192,.4), rgba(249, 192, 192,.4)`
                            : ``
                        "
                      />
                    </v-avatar>
                  </v-card>
                </v-slide-item>
              </v-slide-group>
            </v-card-text>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card flat>
          <v-card-title>{{ loadedProduct.name }}</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div>
              <h3>Harga: {{ loadedProduct.price }}</h3>
            </div>
            <div v-for="(tier, index) in variantOptions" :key="tier.name">
              <v-row justify="center" align="center">
                <v-col cols="12" md="3">
                  <h4>{{ tier.name }}</h4>
                </v-col>
                <v-col>
                  <v-chip-group
                    v-model="optionModel[index]"
                    active-class="pink--text text--lighten-2"
                    column
                  >
                    <v-chip
                      @click="babab(index, i, option)"
                      v-for="(option, i) in tier.options"
                      :key="option"
                      :value="option"
                      :disabled="
                        optionModel.every(function (item) {
                          return item === undefined || item === ''
                        }) || optionModel.length == 1
                          ? !isDisabled(option, index)
                          : testing[index][i].isDisabled
                      "
                      outlined
                    >
                      {{ option }}
                    </v-chip>
                  </v-chip-group></v-col
                >
              </v-row>
              <v-divider></v-divider>
            </div>
          </v-card-text>
          <v-btn
            :disabled="
              optionModel.some(function (i) {
                return i == null || i == ''
              }) || optionModel.length == 0
            "
            >Keranjang</v-btn
          >
          Sisa stok:
          {{ stockCount >= 0 ? stockCount : loadedProduct.stock }}
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data() {
    return {
      loadedProduct: {},
      variationImages: [],
      model: 0,
      loadedProductLength: 0,
      selectedModel: -1,
      variantOptions: [],
      optionModel: [],
      finishLoading: false,
      productStock: [],
      testing: [],
    }
  },
  computed: {
    selectedVariant() {
      return this.optionModel.join()
    },
    stockCount() {
      const selectedStock = this.loadedProduct.variations.find(
        (v) => v.name === this.selectedVariant
      )
      if (selectedStock) {
        return selectedStock.stock
      }
    },
  },

  methods: {
    // testing(index, option) {
    //   let test = this.productStock
    //     .filter((stock) => {
    //       return stock.name.split(',')[1] == option
    //     })
    //     .map((i) => {
    //       return i.name.split(',')[0]
    //     })
    //   test.forEach((element) => {
    //     this.isDisabled(element)
    //   })
    // },
    babab(index, i, option) {
      console.log(i, index)
      if (this.variantOptions.length == 1) {
        return
      }
      let bababo = 0
      if (index == 0) {
        bababo = 1
        this.selectedModel = i + this.loadedProductLength
        this.model = i
      }
      let sayang = this.productStock
        .filter((i) => {
          return i.stock > 0 && i.name.split(',')[index] == option
        })
        .map((i) => {
          return i.name.split(',')[bababo]
        })

      this.testing[bababo].forEach(
        (o) => (o.isDisabled = !sayang.includes(o.option))
      )
    },

    isDisabled(option, index) {
      let ini = 0
      if (index == 1) {
        ini = 1
      }
      let isDisabled = this.loadedProduct.variations
        .filter((i) => {
          let name = i.name
          if (name.indexOf(',') > -1) {
            return name.split(',')[ini] == option
          } else {
            return name == option
          }
        })
        .some((y) => {
          return y.stock > 0
        })
      return isDisabled
    },
    thumbClick(i) {
      this.selectedModel = i + this.loadedProductLength
      this.model = i
    },
    onChange() {
      this.model = this.selectedModel - this.loadedProductLength
    },
  },

  mounted() {
    this.$axios
      .$get('/products/detail/' + this.$route.params.id)
      .then(async (res) => {
        this.loadedProduct = res.item
        this.productStock = this.loadedProduct.variations.map((i) => {
          let product = {}
          product.name = i.name
          product.stock = i.stock
          if (i.stock == 0) {
            product.isDisabled = true
          } else product.isDisabled = false
          return product
        })
        this.loadedProductLength = res.item.images.length
        if (res.item.is_2tier_item) {
          const response = await this.$axios.$get(
            '/products/variation/' + this.$route.params.id
          )
          this.variantOptions = response.body.tier_variation
          this.testing = this.variantOptions.map((i) => {
            return i.options.map((i2) => {
              let data = {}
              data.option = i2
              data.isDisabled = false
              return data
            })
          })
          this.variationImages = response.body.tier_variation[0].images_url
          this.loadedProduct.images.push(
            ...response.body.tier_variation[0].images_url
          )
        }
        this.finishLoading = true
      })
  },
}
</script>
