<template>
  <v-row justify="center">
    <h2>Email kamu telah diverifikasi, kembali ke halaman utama</h2>
  </v-row>
</template>

<script>
export default {
  mounted() {
    this.verifyUser()
  },
  methods: {
    async verifyUser() {
      try {
        let res = await this.$axios.$post('/accounts/verify-email', {
          token: this.$route.query.token,
        })
        this.$router.push('/auth/login')
      } catch (error) {
        alert(error)
      }
    },
  },
}
</script>
