<template>
  <v-app>
    <Snackbar />
    <Navbar @nav-click="displayDrawer = !displayDrawer" />
    <Drawer :drawer="displayDrawer" @input="handleInput($event)" />
    <v-container>
      <Nuxt />
    </v-container>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'
import Drawer from '@/components/Drawer'
import Snackbar from '@/components/Snackbar'

export default {
  components: { Drawer, Navbar, Snackbar },
  data() {
    return {
      displayDrawer: false,
    }
  },
  methods: {
    handleInput(e) {
      this.displayDrawer = e
    },
  },
}
</script>
