<template>
  <section>
    <p class="text-center">
      Webnya lagi dibuat nih, liat-liat feed IG petitemauree dulu aja ya💕😊🌻
    </p>
    <instaFeedCard />
  </section>
</template>

<script>
import instaFeedCard from '@/components/instaFeed/instaFeedCard'

export default {
  components: {
    instaFeedCard,
  },
}
</script>
